div div.column-container {
  width: 33%;
  margin: 0 auto 0 auto;
  color: #525051;
}

.subject-title-content {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.title-underline {
  border-bottom: 3px solid #93b658;
  width: 50%;
}
