@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.grad-fl {
  padding-top: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: #e0dfdf;
}

.grad-heading {
  order: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 20%;
  align-self: center;
  border-bottom: 2px solid #88b04b;
}

.grad-heading-txt {
  align-self: center;
  color: #272727;
  letter-spacing: 2px;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
}

.grad-p {
  order: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.grad-p-txt {
  color: #272727;
  margin: 2vh 5vh 10vh 2vh;
}

@media screen and (max-width: 800px) {
  .grad-heading-txt {
    align-self: center;
    color: #272727;
    letter-spacing: 2px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    border-bottom: 2px solid #88b04b;
  }
}

@media screen and (max-width: 600px) {
  .grad-heading-txt {
    align-self: center;
    color: #272727;
    letter-spacing: 2px;
    border-bottom: 2px solid #88b04b;
  }

  .grad-fl {
    padding-top: 0;
  }
}
