<div id="graduate" class="grad-fl">
  <div class="grad-heading">
    <div class="header-font grad-heading-txt clearfix">
      PROFIL ABSOLWENTA
    </div>
  </div>
  <div class="grad-p">
    <div class="grad-p-txt text-center content-medium-font">
      Absolwenci kierunku Informatyka Stosowana posiadać będą wiedzę na temat technik i narzędzi współczesnej informatyki, procesów biznesowych zachodzących w organizacjach, z uwzględnieniem istniejących uwarunkowań prawnych i ekonomicznych. Posiadając podstawową wiedzę z zakresu informatyki, absolwenci będą mogli ubiegać się o pracę w zawodzie informatyka w firmach sektora informatycznego oraz w organizacjach wykorzystujących informatykę w swojej działalności (zarówno w sektorze gospodarczym jak i sektorze publicznym)
    </div>
  </div>
</div>
