.spacer {
    padding-top: 11vh;
    background: #e0dfdf;
}

img {
    vertical-align: middle;
    width: 100%;
    max-width: 30vh;
}

.logo-container {
    margin-top: 10vh;
}

.logo-group-responsive {
    max-height: 126px;
    width: auto;
    margin: auto;
}

.title-panel {
    height: 20%;
}

.description-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #93B658;
    text-align: left;
    padding: 4vh;
    padding-left: 6vh;
    margin: 0;
}

.subjects-title {
    color: white;
    background: #93B658;
    text-align: left;
    padding-left: 5vh;
    padding-top: 1vh;
    margin: 0;
}

.subjects-name {
    color: #525051;
    margin: 10px;
    text-align: left;
    padding: 0px;
}

.subjects-panel {
    background: #e0dfdf;
    height: 100%;
    color: white;
    padding-bottom: 20px;
    min-height: 500px;
}

div div.subjects-line {
    border-bottom: 1px solid #525051;
    width: 95%;
    margin: 0 auto;
}

div h1.subject-underline {
  width: 100%;
  margin: 2vh 0 2vh 0;
  font-weight: 200;
}

.description-content {
    padding: 10vh;
    overflow-y: auto;
}

.sg{
    font-family: 'Montserrat', sans-serif;
    color:black;
}

.text{
    color:#272727;
    text-align: left;
    padding: 0;

}

.text a {
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.text a:hover{
    cursor: pointer;
}

.lightgreybg{
    background-color: #e0dfdf;
    height: 54vh;
}

.greybg {
    background: rgb(82,80,81);
}

.study-degree-title {
    background: rgb(82,80,81);
    color: white;
}

.study-degree-title a:hover,
.study-spec-title a:hover {
    color: #e0dfdf;
    text-decoration: none;
}

.study-spec-title {
    background: #93B658;
    color: white;
    height: 60%;
}

.spec-choose {
    cursor: pointer;
}

.spec-choose-panel-left {
    margin: 0;
    padding: 20px;
    border-right: 1px solid #e0dfdf;
    border-bottom: 2px solid #e0dfdf;
    border-top: 2px solid #e0dfdf;
    border-left: 2px solid #e0dfdf;
    width: 50%;
    z-index: 10;
    color: white;
}

.spec-choose-panel-right {
    margin: 0;
    padding: 20px;
    border-left: 1px solid #e0dfdf;
    border-bottom: 2px solid #e0dfdf;
    border-top: 2px solid #e0dfdf;
    border-right: 2px solid #e0dfdf;
    width: 50%;
    z-index: 10;
    color: white;
}

.study-degree-title a,
.study-spec-title a {
    color: white;
}

.subjects-container {
    padding: 0 3vh 0 3vh;
    height: auto;
}

.item {
    width: 100%;
}

a.content-medium-font.spec-choose {
  color: white;
}

.activeGroup {
    color: #93b658!important;
}

.activeSpec {
    color: #525051!important;
    font-weight: 900;
}

@media(max-width: 800px){
    .item {
        width: 100%;
    }
    .subjects-container {
        padding: 2vh;
    }
    .description-title {
        display: none;
    }
    .lightgreybg {
        height: auto;
        min-height: 189vh;
    }
    div div.study-spec-title {
        flex-direction: column;
    }
    .spec-choose {
        padding: 5px;
    }
    .subject-choose,
    .description-title,
    .spec-choose {
        text-align: center;
    }
    .spec-choose-panel-left,
    .spec-choose-panel-right {
        /*padding: 0;*/
        margin: 0!important;
        width: 100%;
    }
    .spec-choose-panel-left h1,
    .spec-choose-panel-right h1 {
        width: 50%;
        display: flex;
        /*margin: 5px!important;*/
    }
    .support-mobile-padding{
        padding: 0 5px !important;
    }

    .description-content {
      padding: 2vh;
    }

    .spec-choose-panel-left {
      border: none;
      padding: 5px;
    }

    .spec-choose-panel-right {
      border-top: 1px solid;
      padding: 5px;
    }

    div h1.subject-underline {
      font-size: 2vh;
      font-weight: 400;
      margin: 0;
    }

    .subjects-name {
      text-align: center;
    }
}
