<div id="specialization">
  <!--Specjalizacje-->
  <div *ngFor="let group of generalStudyData">
    <div class="no-margin flexblock flex-column full-size spacer">
      <div class="text flexblock flex-column no-margin m-b-0 m-t-0 title-panel">
        <div class="center flexblock flex-column study-degree-title m-b-0 m-t-0 full-width">
          <div class="flexblock flex-column full-width">
            <h2 class="header-font subject-title-content">SPECJALNOŚCI</h2>
            <div class="title-underline"></div>
          </div>
          <div class="flexblock full-width">
            <app-degree
                    content="I stopień"
                    activeGroupClass="bachelor"
                    dynamicClass="{{activeGroupClass}}">
            </app-degree>
            <app-degree
                    content="II stopień"
                    activeGroupClass="master"
                    dynamicClass="{{activeGroupClass}}">
            </app-degree>
          </div>
        </div>
        <!-- specialization start -->
        <div class="flexblock flex-row study-spec-title m-t-0 m-b-0 full-width">
          <div class="flexblock spec-choose-panel-left">
            <app-specialization
                   (onGroupandSpec)="setGroupAndSpec($event)"
                    content="{{generalStudyData[0].specialization[0].name}}"
                    groupId="2"
                    specId="0"
                    activeGroupClass="bachelor"
                    activeSpecClass="iz1"
                    dynamicClass="{{activeSpecClass}}">
            </app-specialization>
            <app-specialization
                    (onGroupandSpec)="setGroupAndSpec($event)"
                    content="{{generalStudyData[0].specialization[1].name}}"
                    groupId="2"
                    specId="1"
                    activeGroupClass="bachelor"
                    activeSpecClass="sin1"
                    dynamicClass="{{activeSpecClass}}">
            </app-specialization>
          </div>
          <div class="flexblock spec-choose-panel-right">
            <app-specialization
                    (onGroupandSpec)="setGroupAndSpec($event)"
                    content="{{generalStudyData[0].specialization[2].name}}"
                    groupId="2"
                    specId="2"
                    activeGroupClass="master"
                    activeSpecClass="sit2"
                    dynamicClass="{{activeSpecClass}}">
            </app-specialization>
            <app-specialization
                    (onGroupandSpec)="setGroupAndSpec($event)"
                    content="{{generalStudyData[0].specialization[3].name}}"
                    groupId="2"
                    specId="3"
                    activeGroupClass="master"
                    activeSpecClass="sin2"
                    dynamicClass="{{activeSpecClass}}">
            </app-specialization>
          </div>
        </div>
        <!-- specialization end -->
      </div>
      <div class="img-position m-t-0 full-size">
        <div class="full-height">
          <p class="content-medium-font description-title">Specjalizacja {{group.specialization[activeSpecId].name}}</p>
          <p class="sg lightgreybg description-content content-medium-font">{{ group.specialization[activeSpecId].description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
