<div id="contact">
  <div class="contact-header">
    <div class="img-letter"><img src="../assets/images/list.png" alt="letter-img" /></div>
    <div class="contact-info"><p>Skontaktuj się z nami!</p></div>
  </div>

  <div class="contact-form">
    <form>
      <div class="form-left">
        <input type="text" /> <br />
        <input type="text" /> <br />
        <input type="text" /> <br />
      </div>
      <div class="form-right">
        <textarea> </textarea>
      </div>
    </form>
  </div>
</div>