#contact{
    min-height: 100vh;
    background: #93B658;
    padding: 10vh;
    font-family: 'Montserrat', sans-serif; 
}

.contact-header{
    height: 30vh;
    margin-top: 5vh;
}

.img-letter{
    width: 33vh;
    float: left;
}

.img-letter img{
    margin-top: 50px;
}

.contact-info{
    width: 35vw;
    float: left;
    border-bottom: 4px solid #555;
    clear: right;
}

.contact-info p{
    font-size: 3vw;
    color: white;
    margin-top: 15vh;
}

.contact-form{
    height: 60vh;
    padding-top: 10vh;
}

.form-left{
    float: left;
    text-align: right;
    width: 37vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.form-right{
    float: left;
    text-align: left;
    width: 37vw;
    margin-left: 3vw;
}

form .form-left input {
    width: 65%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}

form .form-right textarea {
    width: 37vw;
    height: 40vh;
    border-radius: 5px;
}


@media(max-width: 1200px){
    .form-left{
        width: 100%;
    }

    .form-right{
        width: 100%;
        margin: 0px;
    }

    form .form-left input {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
    }

    form .form-right textarea {
        width: 100%;
        height: 20vh;
    }

    @media(max-width: 1200px){
        .img-letter{
            width: 100%;
            float: left;
        }

        .contact-info{
            width: 100%;
            float: left;
            border-bottom: 3px solid #333;
            height: 80px;
        }   

        .contact-info p{
            font-size: 20px;
            color: white;
            margin: 40px;
        }
    }
}

@media(max-width: 800px){ 
    .contact-form {
        padding-top: 20vh;
    }

    .contact-info {
        border: 0;
    }
    #contact {
        min-height: 126vh;
    }
}