<div class="menu">
  <div class="flexblock">
    <div class="flexblock no-margin full-width">
      <div class="flexblock half-page-container box-logo">
        <div class="logo">
        </div>
        <div class="logo-content">
          informatyka stosowana
        </div>
        <div id="more">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav id="nav" class="flexblock half-page-container right-container">
        <ul class="flexblock">
          <li><a href="#homepage">home</a></li>
          <li><a href="#news">rekrutacja</a></li>
          <li><a href="#graduate">profil absolwenta</a></li>
          <li><a href="#specialization">specjalizacje</a></li>
          <li><a href="#subjects">przedmioty</a></li>
          <li><a href="#science-group">koła naukowe</a></li>
        </ul>
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </nav>
    </div>
  </div>
</div>

<script>
  function show_menu(){
    document.getElementsByClassName(".right-container").style.display = "block";
  }
</script>