/* DO zrobienia @media(max 1300px) menu na hamburgerka */

div .logo {
    background-image: url("../assets/images/logo_is.png");
    height: 61px;
    width: 65px;
    margin: auto 1vh auto 1vh;
}

.box-logo{
    float: left;
    margin: 0px !important;
}

.menu {
    background: #272727;
    color: white;
    border-bottom: 3px solid #9fc89f;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.full-width {
    width: 100%;
}

.half-page-container {
 /* width: 50%; */
 margin-left: auto;
}


div .logo-content {
    margin: auto 0;
}

div nav ul{
    margin-right: 0;
}

div nav i {
    font-size: 40px;
    margin: auto;
    margin-right: 15px;
    margin-left: 30px;
}

div nav li {
    margin-right: 30px;
    font-size: 2vh;
    text-align: center;
    line-height: 90%;
}

div nav a {
    color: white;
}

div nav a:hover {
    color: #a4cca4;
    text-decoration: none;
}

.menu > .flexblock{
    padding-right: 20px;
    height: 100%;
    margin: 1vh;
}

#more{
    border: 2px solid #9fc89f;
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 0vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#more span{
  display: block;
  position: absolute;
  height: 3px;
  width: 66%;
  background: #9fc89f;
  border-radius: 9px;
  opacity: 1;
  left: 19%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#more span:nth-child(1) {
  top: 9px;
}

#more span:nth-child(2),#more span:nth-child(3) {
  top: 18px;
}

#more span:nth-child(4) {
  top: 26px;
}

#more.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#more.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#more.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#more.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media(max-width: 1299px ){
    .menu{
        width: 100vw;
        border-right: 3px solid #9fc89f;
        height: auto;
    }

    .box-logo{
        flex-direction: row !important;
    }

    .right-container{
        display: none;
        margin: 0px !important;
    }
    #more{
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    ul{
        margin: 0px !important;
    }
    ul li{
        text-align: center;
        margin: 0px !important;
        font-size: 15px !important;
        margin: 10px 0 !important;
    }

    i{
        display: none;
        /* Deadline nie pozwolił na stylowanie tego */
    }

    .flexblock{
        flex-direction: column;
        padding: 0px;
    }
}
