<div class="fl">
  <div class="item1">
    <div class="rekrut-nap">
      <p class="header-font">REKRUTACJA</p>
    </div>
  </div>
  <div class="item2 clearfix">
    <div class="rekrut-txt clearfix">
      <p class="content-medium-font text-center">Poznaj warunki aplikowania na studia stacjonarne i niestacjonarne. Dowiedz się jakie przedmioty mają znaczenie podczas rekrutacji i zobacz na progi punktowe z poprzednich lat, zarówno w pierwszym, jak i drugim naborze.</p>
    </div>
  </div>

  <div class="item3">
    <div class="stacjo">
      <a target="_blank" href="http://uek.krakow.pl/pl/edukacja/rekrutacja-na-studia.html"><button class="rek1 content-small-font">REKRUTACJA</button></a>
      <div class="content-small-font stacjo-txt">STACJONARNE</div>
    </div>

    <div class="niestacjo">
      <a target="_blank" href="http://uek.krakow.pl/pl/edukacja/rekrutacja-na-studia.html"><button class="rek2 content-small-font">REKRUTACJA</button></a>
      <div class="content-small-font niestacjo-txt">NIESTACJONARNE</div>
    </div>
  </div>
