<app-menu></app-menu>
<div mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="true"
     [mnFullpageScrollingSpeed]="800"
     [mnFullpageScrollBar]="true"
     [mnFullpageEasing]="ease-out">
  <div class="section fp-section fp-table">
      <app-homepage></app-homepage>
      <a href="#" id="return-to-top">
        <i class="icon-chevron-up"></i>
      </a>
  </div>
  <div class="section fp-section fp-table">
      <app-news></app-news>
      <app-recruitment></app-recruitment>
  </div>
  <div class="section fp-section fp-table">
      <app-graduate></app-graduate>
      <app-reviews></app-reviews>
  </div>
  <div class="section fp-section fp-table">
      <app-subjects></app-subjects>
  </div>
  <div class="section fp-section fp-table">
    <app-study-programme></app-study-programme>
  </div>
  <div class="section fp-section fp-table">
      <app-science-group></app-science-group>
  </div>
</div>

<!--<app-contact></app-contact>-->
