<div id="news">
    <div class="container-fluid news">
        <div class="flexblock">
            <h3 class="slider-header header-font">ogłoszenia</h3>
        </div>

        <div class="no-margin row slider-items">
            <div *ngIf="messages.length > 0" (click)="sliderGo(-1);" class="col-xs-1">
                <img src="../../assets/images/arrow-left.png" alt="">
            </div>
            <div>
                <div>
                    <div class="col-xs-10" *ngIf="messages.length == 0" class="flexblock">
                        <p class="text-center content-medium-font">Obecnie nie ma żadnych ogłoszeń</p>
                    </div>
                    <div *ngFor="let message of messages" class="col-xs-12 col-lg-6">
                        <div *ngIf="message">
                            <h3>{{message.title}}</h3>
                            <p>{{message.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="messages.length > 0" (click)="sliderGo(1);" class="col-xs-1">
                <img class="to-right" src="../../assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
</div>
