.slider-header{
    color: #272727;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #88b04b;
    width: 50%;
}
.slider-items{
    padding-top: 5vh;
}
.news {
    background-color: #e0dfdf;
    padding-top: 11vh;
    min-height: 44vh;
    padding-bottom: 5vh;
}

img {
    margin-top: 25px;
    max-width: 5vh;
    text-align: center;
}

.to-right {
    float: right;
}

@media(max-width: 800px){
  .slider-header{
      font-size: 4vh;
      width: auto;
  }
}
