@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.grad-fl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: #e0dfdf;
}

.grad-heading {
  order: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  align-self: center;
}

.grad-heading-txt {
  align-self: center;
  color: #272727;
  letter-spacing: 2px;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
  border-bottom: 2px solid #88b04b;
}

.grad-p {
  order: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.grad-p-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8vh;
  color: #272727;
  font-weight: 700;
  margin: 2vh 5vh 10vh 2vh;
}

@media screen and (max-width: 800px) {
  .grad-heading-txt {
    align-self: center;
    color: #272727;
    letter-spacing: 2px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    border-bottom: 2px solid #88b04b;
  }
  .grad-p-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vh;
    color: #272727;
    font-weight: 700;
    margin: 2vh 5vh 10vh 2vh;
  }
}

@media screen and (max-width: 600px) {
  .grad-heading-txt {
    align-self: center;
    color: #272727;
    letter-spacing: 2px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    border-bottom: 2px solid #88b04b;
  }
}

.slider-header{
    color: #272727;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #88b04b;
    width: 50vw;
    margin-left: 25vw;
}
.slider-items{
    padding-top: 5vh;
}
.news {
    background-color: #e0dfdf;
    padding-top: 5vh;
    min-height: 42vh;
    padding-bottom: 5vh;
    height: 50vh;
}

img {
    margin-top: 25px;
    max-width: 5vh;
    text-align: center;
}

.to-right {
    float: right;
}
