<div id="reviews">
    <div class="container-fluid news">
        <div>
            <h3 class="header-font slider-header">Opinie</h3>
        </div>

        <div class="no-margin row slider-items">
            <div *ngIf="reviews.length > 0" (click)="sliderGo(-1);" class="col-xs-1">
                <img src="../../assets/images/arrow-left.png" alt="">
            </div>
            <div>
                <div *ngIf="reviews.length == 0" class="flexblock">
                    <p class="content-medium-font">Obecnie nie ma żadnych opinii</p>
                </div>
                <div class="col-xs-10">
                    <div *ngFor="let message of reviews" class="col-xs-12 col-lg-4">
                        <div *ngIf="message">
                            <h3>{{message.review}}</h3>
                            <p>{{message.author}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="reviews.length > 0" (click)="sliderGo(1);" class="col-xs-1">
                <img class="to-right" src="../../assets/images/arrow-right.png" alt="">
            </div>
        </div>
    </div>
</div>
